<div id="home" class="clearfix">
  <div class="home-hero clearfix">
    <div class="container">
      <h1 class="center">Welcome to Startup Review</h1>
      <h2 class="center">Thank you for joining our community of startup enthuasiasts. Here is how you can use this platform:</h2>

    <!--
      <div class="icons clearfix row">
        <div class="icon col-sm-4">
          <p class="step center">
            1
          </p>
          <img src="images/browse.png" class="img-responsive">
          <p class="sub_header center">
            Review Pitch Decks
          </p>
          <p class="sub_p center">
            Take notes and gather your thoughts.
          </p>
        </div>
        <div class="icon col-sm-4">
          <p class="step center">
            2
          </p>
          <img src="images/explore.png" class="img-responsive">
          <p class="sub_header center">
            Form Your Opinions
          </p>
          <p class="sub_p center">
            Read through community contributions for each factor.
          </p>
        </div>
        <div class="icon col-sm-4">
          <p class="step center">
            3
          </p>
          <img src="images/feedback.png" class="img-responsive">
          <p class="sub_header center">
            Join the Conversation
          </p>
          <p class="sub_p center">
            Contribute your feedback to the community and support our startups.
          </p>
        </div>
      </div>
    -->
      <div class="chevron">
        <a href="#" ng-click="scrollDown($event)">
          <img src="images/down.png">
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="home-companies" class="companies">
      <div class="companies-intro">
        <h3 class="center">Startups</h3>
        <p class="center">
          <a href="mailto:">Let us know</a> if you'd like to be added
        </p>
      </div>
      <a href="#" ui-sref="startup({ id : company.id })" class="company clearfix" ng-repeat="company in companies">
        <div class="company-pic">
          <img class="img-responsive" ng-src="{{ company.profilePic }}" alt="{{ company.name }}">
        </div>
        <div class="company-name-info col-sm-3">
          <p class="name">
            {{ company.name }}
          </p>
          <p class="desc">
            {{ company.description }}
          </p>
          <p class="location">
            {{ company.location }}
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
