#footer {
  background: @blue-gray;
  padding: 70px 0;
  color: @gray-lighter;
  .copyright-info {
    font-size: 16px;
    font-weight: 200;
    i {
      font-size: 22px;
    }
    .copyright {
      display: inline-block;
      margin-right: 15px;
    }
    .name {
      text-transform: uppercase;
      display: inline-block;
    }
  }
}
