#header {
  .navbar {
    background: white;
    border-bottom-width: 4px;
    margin: 0;
    .navbar-brand {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
    }
  }
}
