#home {
  .home-hero {
    padding: 60px 0 60px;
    background: white;

    
    // max-height: 800px;
    h1 {
      font-weight: 200;
      font-size: 45px;
      color: @gray-darker;
      margin: 30px;
    }
    h2 {
      font-weight: 300;
      font-size: 21px;
      color: darken(@gray-medium, 18%);
    }
    .icons {
      padding-top: 80px;
      .icon {
        .step {
          font-size: 22px;
          font-weight: bold;
          border-radius: 50%;
          border: 2px solid @gray-darker;
          height: 50px;
          width: 50px;
          text-transform: uppercase;
          padding: 5px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 30px;
        }
        img {
          max-height: 100px;
          margin: 0 auto;
        }
        .sub_header {
          font-size: 22px;
          font-weight: bold;
          padding-top: 30px;
        }
        .sub_p {
          font-size: 16px;
        }
      }
    }
    .chevron {
      padding-top: 40px;
      text-align: center;

      img {
        max-height: 15px;

      }
    }
  }
  .companies {
    padding: 20px 0;
    margin-bottom: 200px;
    .companies-intro {
      padding: 40px 0 20px;
      h3 {
        margin-bottom: 15px;
      }
    }
    .company {
      background: white;
      display: block;
      max-width: 750px;
      padding: 10px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
      border: 1px solid @gray-medium;
      position: relative;
      border-radius: 4px;
      &:hover {
        border-color: lighten(@blue, 15%);
      }
      .company-pic {
        float: left;
        border-radius: 4px;
        img {
          max-height: 80px;
        }
      }
      .company-name-info {
        vertical-align: top;
        width: auto;
        p {
          margin: 0;
          padding: 0;
        }
        .name {
          font-weight: bold;
          font-size: 20px;
        }
        .desc {}
        .location {}
      }
    }
  }
}
