#register {
  .beta-sign {
    display: block;
    margin: 130px auto 40px;
    border-radius: 50%;
    border: 2px solid @gray-darker;
    height: 50px;
    width: 50px;
    position: relative;
    span {
      position: absolute;
      top: 14px;
      left: 9px;
      text-transform: uppercase;
      font-weight: 500;
      color: @gray-dark;
      font-size: 12px;
    }
  }
  .register-header {
    h2 {
      font-size: 38px;
    }
    p {
      margin-top: 14px;
      font-size: 16px;
    }
  }
  .register-form {}
}
